<!doctype html>
<html lang="ru">
  <head>
    <title>Тест на знание дореволюционной орфографии</title>
    <!-- Required meta tags -->
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">

    <!-- Bootstrap CSS -->
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0-beta.2/css/bootstrap.min.css" integrity="sha384-PsH8R72JQ3SOdhVi3uxftmaW6Vc51MKb0q5P2rRUpPvrszuE4W1povHYgTpBfshb" crossorigin="anonymous">
  </head>
  <body>
  
    <div class="p-3 mb-2 bg-success text-white">Тест на знание дореволюционной орфографии</div>
 
    <form action="http://127.0.0.1:5000/results">
    <p><b> Дорогие друзья!</b></p>
    <p><b> Знаете ли вы, какие слова русского языка содержали в своём составе букву "ѣ" в дореволюционной орфографии?</b></p>
    <p><b> Мы предлагаем вам ответить на 10 вопросов и узнать, насколько хорошо вы ориентируетесь в дореволюционном русском языке.</b></p>
	
	<p><b>1. Как пишется: "свирель" или "свирѣль"?</b></p>
    <input type="radio" name="music" value="music_e">Свирель<Br>
	<input type="radio" name="music" value="music_E">Свирѣль<Br>
	<p><b>2. Как пишется: "ветошь" или "вѣтошь"?</b></p>
    <input type="radio" name="old" value="old_e">Ветошь<Br>
	<input type="radio" name="old" value="old_E">Вѣтошь<Br>
	<p><b>3. Как пишется: "апрель" или "апрѣль"?</b></p>
    <input type="radio" name="April" value="April_e">Апрель<Br>
	<input type="radio" name="April" value="April_E">Апрѣль<Br>
	<p><b>4. Как пишется: "воробей" или "воробѣй" ?</b></p>
    <input type="radio" name="sparrow" value="sparrow_e">Воробей<Br>
	<input type="radio" name="sparrow" value="sparrow_E">Воробѣй<Br>
	<p><b>5. Как пишется: "семья" или "сѣмья" ?</b></p>
	<input type="radio" name="family" value="family_e">Семья<Br>
	<input type="radio" name="family" value="family_E">Сѣмья<Br>
	<p><b>6. Как пишется: "двенадцать" или "двѣнадцать"?</b></p>
    <input type="radio" name="twelve" value="twelve_e">Двенадцать<Br>
	<input type="radio" name="twelve" value="twelve_E">Двѣнадцать<Br>
	<p><b>7. Как пишется: "дева" или "дѣва"?</b></p>
    <input type="radio" name="girl" value="girl_e">Дева<Br>
	<input type="radio" name="girl" value="girl_E">Дѣва<Br>
	<p><b>8. Как пишется: "постель" или "постѣль"?</b></p>
    <input type="radio" name="bed" value="bed_e">Постель<Br>
	<input type="radio" name="bed" value="bed_E">Постѣль<Br>
	<p><b>9. Как пишется: "левъ" или "лѣвъ"?</b></p>
	<input type="radio" name="lion" value="lion_e">Левъ<Br>
	<input type="radio" name="lion" value="lion_E">Лѣвъ<Br>
	<p><b>10. Как пишется: "звезда" или "звѣзда"?</b></p>
    <input type="radio" name="star" value="star_e">Звезда<Br>
    <input type="radio" name="star" value="star_E">Звѣзда<Br>
	
	<p><input type="submit"></p>
    </form>
	
 </body>
 </html>