<head>
       <meta charset="utf-8">
       <title>Поиск по данным</title>
    </head>
 <body>

 <form action="http://127.0.0.1:5000/results">
 <p><b> Мы можем найти количество людей, употребляющих определенную форму генитива множественного числа слов "помидор" и "баклажан", в конкретном городе.</b></p>
	
	<p><b>Введите искомую словоформу (помидор, Gen Pl):</b></p>
	<input type="text" name="tomatoes" value=""><Br>
	
	<p><b>Введите искомую словоформу (баклажан, Gen Pl):</b></p>
	<input type="text" name="eggplants" value=""><Br>
	
	<p><b>Введите название города: </b></p>
	<input type="text" name="city" value=""><Br>

    <p><input type="submit"></p>
 </form>

 </body>
 </html>